node_modules/
dist/
build/
.next/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port/
coverage/
.nyc_output/
*.log
.DS_Store
*.tgz
*.tar.gz
.cache/
.parcel-cache/
.vscode/
.idea/
*.swp
*.swo
*~